body{
	margin: 0px;
}

.topic{
	height: 800px;
	padding: 0px;
	margin: 0px;
}

p{
	font-size: 48px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.9);
	display: inline;
	padding: 5px;
	margin: 5px;
}

a{
	color: #000000;
}

#hello{
	background-repeat: no-repeat;
	background-image: url('../img/roof_sunset.jpg');
	background-size: cover;
}

#me{
	background-repeat: no-repeat;
	background-image: url('../img/strings.jpg');
	background-size: cover;
}

#overview{
	background-repeat: no-repeat;
	background-image: url('../img/miku.jpg');
	background-size: cover;
}

#binaural-beats{
	background-repeat: no-repeat;
	background-image: url('../img/bb.jpg');
	background-size: cover;
}

#youtube-explaination{
	background-repeat: no-repeat;
	background-image: url('../img/bb.jpg');
	background-size: cover;
}

#question{
	background-repeat: no-repeat;
	background-image: url('../img/bb1.png');
	background-size: cover;
}

#programming{
	background-repeat: no-repeat;
	background-image: url('../img/programming.png');
	background-size: cover;
}

#coreaudio{
	background-repeat: no-repeat;
	background-image: url('../img/coreaudio2.png');
	background-size: cover;
}

#audiounits{
	background-repeat: no-repeat;
	background-image: url('../img/audiounits.jpg');
	background-size: cover;
}

#start{
	background-repeat: no-repeat;
	background-image: url('../img/start.jpg');
	background-size: cover;
}

#references{
	background-repeat: no-repeat;
	background-image: url('../img/resources.jpg');
	background-size: cover;
}

#thank-you{
	background-repeat: no-repeat;
	background-image: url('../img/catface.jpg');
	background-size: cover;
}
